<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="ISO-8859-1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<title>Client</title>
</head>
<body>

<div ng-controller="MyCtrl">
   The weather from {{weatherLocation}}
    <p>The Country is: {{country}} and the temprature degree is {{tempDegree}}</p>
    <input type="text" ng-model="location"/>
    <button ng-click="findWeather()">submit</button>
</div>


<script type="text/javascript">
	angular.module('myApp',[]).controller("MyCtrl", MyCtrl);


function MyCtrl($scope, $http) {

	$scope.location = "";

    $scope.findWeather = function(){
                $http.get(" http://api.apixu.com/v1/current.json?key=add134be556645f3a56193534170707&q=" + $scope.location).success(function(data){
    $scope.weatherLocation = data.location.name;
    $scope.country = data.location.country;
    $scope.tempDegree = data.current.temp_c;

    }) 
    }
}

	
</script>
</body>
</html>

